openapi: 3.0.0
info:
  title: HealthProvider Data API
  description: |
    A comprehensive healthcare provider search API that enables users to find and verify medical professionals across the United States.
    
    ## Core Features
    - **Provider Search**: Find healthcare providers by name, location, specialty, or provider type
    - **Provider Details**: Get comprehensive information including contact details and Medicare data
    - **Filter Options**: Access standardized filters for consistent searches
    
    For questions or support, please contact our team at support@healthproviderdata.api
  version: 1.0.0
  contact:
    name: API Support
    url: https://docapi-uax3j.ondigitalocean.app
    email: support@healthproviderdata.api
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://docapi-uax3j.ondigitalocean.app
    description: Production server
  - url: http://localhost:3000
    description: Local development server

tags:
  - name: Health
    description: Health check endpoints
  - name: Providers
    description: Provider search and details endpoints

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check if the API and database are running
      operationId: getHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  database:
                    type: string
                    example: connected
                  timestamp:
                    type: string
                    format: date-time
                    example: "2023-01-01T12:00:00Z"
                  environment:
                    type: string
                    example: production
                  version:
                    type: string
                    example: v1

  /api/providers/search:
    get:
      tags:
        - Providers
      summary: Search providers
      description: |
        Search for healthcare providers with various filters. Results are paginated and sorted by provider name.
        
        **Example use cases:**
        - Find all cardiologists in California
        - Search for a specific doctor by name
        - Find organizations that accept Medicare in New York
      operationId: searchProviders
      parameters:
        - name: query
          in: query
          description: Search term for provider name or organization name
          required: false
          schema:
            type: string
          example: "Smith"
        - name: state
          in: query
          description: Filter by state code (e.g., CA, NY, TX)
          required: false
          schema:
            type: string
          example: "CA"
        - name: specialty
          in: query
          description: Filter by taxonomy code (available from the /filters endpoint)
          required: false
          schema:
            type: string
          example: "207R00000X"
        - name: provider_type
          in: query
          description: Filter by provider type (1 = Individual, 2 = Organization)
          required: false
          schema:
            type: string
            enum: ["1", "2"]
          example: "1"
        - name: has_medicare
          in: query
          description: Filter to show only providers with Medicare data
          required: false
          schema:
            type: boolean
          example: true
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
          example: 1
        - name: limit
          in: query
          description: Number of results per page (max 100)
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          example: 10
      responses:
        '200':
          description: Successful search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
              example:
                providers:
                  - npi: "1234567890"
                    provider_name: "JOHN A SMITH MD"
                    first_name: "JOHN"
                    last_name: "SMITH"
                    organization_name: null
                    provider_type: "1"
                    address:
                      line1: "123 MAIN ST"
                      line2: "SUITE 100"
                      city: "SAN FRANCISCO"
                      state: "CA"
                      postal_code: "94102"
                      country_code: "US"
                    phone: "4155551234"
                    status: "A"
                total: 50
                page: 1
                limit: 10
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '408':
          description: Request timeout (complex queries)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Request Timeout"
                message: "Query took too long to process. Please simplify your search criteria."

  /api/providers/{npi}:
    get:
      tags:
        - Providers
      summary: Get provider details
      description: |
        Get detailed information about a specific provider by NPI number. 
        
        This endpoint returns comprehensive data including:
        - Contact information
        - Taxonomy/specialty information
        - Medicare service data (when available)
      operationId: getProviderDetails
      parameters:
        - name: npi
          in: path
          description: National Provider Identifier (10-digit number)
          required: true
          schema:
            type: string
            pattern: '^\d{10}$'
          example: "1234567890"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Not Found"
                message: "Provider with NPI 1234567890 not found"

  /api/providers/filters:
    get:
      tags:
        - Providers
      summary: Get available filters
      description: |
        Get lists of available states and specialties for filtering provider searches.
        
        Use the returned values with the search endpoint's state and specialty parameters.
      operationId: getProviderFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Filters'
              example:
                states: ["AL", "AK", "AZ", "AR", "CA", "CO"]
                specialties: ["207R00000X", "207RC0000X", "207RA0000X"]

components:
  schemas:
    SearchResponse:
      type: object
      properties:
        providers:
          type: array
          items:
            $ref: '#/components/schemas/ProviderSummary'
          description: List of providers matching search criteria
        total:
          type: integer
          description: Total number of providers matching the search criteria
        page:
          type: integer
          description: Current page number
        limit:
          type: integer
          description: Number of results per page
      required:
        - providers
        - total
        - page
        - limit

    ProviderSummary:
      type: object
      properties:
        npi:
          type: string
          description: National Provider Identifier (10-digit number)
        provider_name:
          type: string
          description: Full name of the provider for display purposes
        first_name:
          type: string
          nullable: true
          description: Provider's first name (for individuals)
        last_name:
          type: string
          nullable: true
          description: Provider's last name (for individuals)
        organization_name:
          type: string
          nullable: true
          description: Name of the organization (for organizations)
        provider_type:
          type: string
          nullable: true
          description: Type of provider ("1" = Individual, "2" = Organization)
        address:
          $ref: '#/components/schemas/Address'
        phone:
          type: string
          nullable: true
          description: Contact phone number
        status:
          type: string
          nullable: true
          description: Provider's status (A = Active, I = Inactive, D = Deactivated)
      required:
        - npi
        - provider_name
        - address

    Provider:
      allOf:
        - $ref: '#/components/schemas/ProviderSummary'
        - type: object
          properties:
            email:
              type: string
              nullable: true
              description: Email address
            direct_address:
              type: string
              nullable: true
              description: Direct secure messaging address
            fhir_endpoint:
              type: string
              nullable: true
              description: FHIR API endpoint URL
            enumeration_date:
              type: string
              nullable: true
              description: Date when NPI was assigned
            last_updated:
              type: string
              nullable: true
              description: Date when provider record was last updated
            taxonomies:
              type: array
              items:
                $ref: '#/components/schemas/Taxonomy'
              description: Provider specialties/taxonomies
            medicare:
              $ref: '#/components/schemas/MedicareData'
              description: Medicare service information

    Address:
      type: object
      properties:
        line1:
          type: string
          nullable: true
          description: Street address line 1
        line2:
          type: string
          nullable: true
          description: Street address line 2
        city:
          type: string
          nullable: true
          description: City
        state:
          type: string
          nullable: true
          description: State code (2 characters)
        postal_code:
          type: string
          nullable: true
          description: Postal/ZIP code
        country_code:
          type: string
          nullable: true
          description: Country code (2 characters, e.g., US)

    Taxonomy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          description: Taxonomy code
        description:
          type: string
          nullable: true
          description: Taxonomy description
        isPrimary:
          type: boolean
          nullable: true
          description: Whether this is the provider's primary specialty
        license:
          type: string
          nullable: true
          description: License number associated with this taxonomy

    MedicareData:
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/MedicareSummary'
          description: Summary of Medicare services and payments
        services:
          type: array
          items:
            $ref: '#/components/schemas/MedicareService'
          description: Detailed Medicare service information

    MedicareSummary:
      type: object
      properties:
        totalServices:
          type: number
          description: Total number of Medicare services performed
        totalBeneficiaries:
          type: number
          description: Total number of Medicare patients treated
        totalPayments:
          type: number
          description: Total Medicare payments received (in dollars)
        totalSubmitted:
          type: number
          description: Total amount billed to Medicare (in dollars)
        totalAllowed:
          type: number
          description: Total amount approved by Medicare (in dollars)

    MedicareService:
      type: object
      properties:
        code:
          type: string
          nullable: true
          description: The Medicare service code (HCPCS/CPT)
        description:
          type: string
          nullable: true
          description: Description of the Medicare service
        serviceCount:
          type: number
          description: Number of times this service was performed
        beneficiaryCount:
          type: number
          description: Number of Medicare patients who received this service
        submittedCharge:
          type: number
          description: Total amount billed for this service (in dollars)
        allowedAmount:
          type: number
          description: Total amount approved by Medicare (in dollars)
        paymentAmount:
          type: number
          description: Total amount paid by Medicare (in dollars)
        year:
          type: number
          nullable: true
          description: Year of service
        placeOfService:
          type: string
          nullable: true
          description: Place of service code

    Filters:
      type: object
      properties:
        states:
          type: array
          items:
            type: string
          description: List of available state codes
        specialties:
          type: array
          items:
            type: string
          description: List of available specialty/taxonomy codes
      required:
        - states
        - specialties

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type
        message:
          type: string
          description: Detailed error message
      required:
        - error
        - message 